name: CI

on:
  push:
    branches: ['master']
  pull_request:

env:
  CI_MAKE: make -f .travis.mk

jobs:
  debug:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    container:
      image: ghcr.io/avtikhon/tarantool/testing/debian-stretch:latest

    steps:
      - uses: actions/checkout@v1
      - name: test
        run: ${CI_MAKE} test_coverage_debian_no_deps
        env:
          COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      - name: artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: debug
          retention-days: 1000000
          path: test/var/artifacts
